<app-header></app-header>
<div class="row">
  <div class="card mx-auto">
    <div class="card-header text-center">Hola</div>
    <div class="card-body text-center">hihi</div>
  </div>
</div>
<div class="row">
  <div class="card mx-auto">
    <div class="card-header text-center">Hola</div>
    <app-create-post></app-create-post>
  </div>
</div>


<style>
  .card{
    width: 80%;
  }
</style>
