<div class="card-body text-center">
  <div class="table">
    <table class="table">
      <tr>
        <th><textarea rows="10" [(ngModel)]="writeArea"></textarea></th>
      </tr>
      <tr>
        <td>
          <button (click)="onAddPost()">Save Post</button>
        </td>
      </tr>
      <tr>
        <td>
          <p>{{ textArea }}</p>
        </td>
      </tr>
    </table>
  </div>

</div>
